@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body{
    background: #F6F3F3;
}

.panel{
    background: #0E3854;
    height: 100vh;
}

.navbar{
    background: white;
}
.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
}

.navbar-brand span{
    color: #8579EC;
}

.navbar-nav{
    color: black !important;
}

.nav-link{
    font-size: 18px;
    font-weight:bolder;
}

.nav-link:hover::after{
    content: "";
    display: block;
    border-bottom: 3px solid #f5b19c;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.logo{
    width: 300px;
    /* height: 62px; */
    margin-left: 60px;
    margin-top: 80px;
}

.login{
    margin-top: 10px;
    padding-left: 10px !important;
}

.panel-title{
    width: 70%;
    font-size: 46px;
    font-weight: bold;
    color: white;
    margin-top: 200px;
    margin-left: 100px;
}

.login-title{
    /* font-family: 'Playfair Display', serif; */
    font-weight: bold;
    margin-left: 100px;
    margin-top: 20px;
}

.login-desc{
    font-size: 16px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 30px;
}

.login-desc span a{
    color: #FF7C1F;
}

.login-desc span a:hover{
    text-decoration: none;
    color: #b14d06;
}

.form-login{
    width: 360px;
    margin-left: 100px;
}

.inputs{
    width: 360px;
    border: none;
    background: #D5EAF8;
    padding: 15px;
    border-radius: 10px;
}

.recovery{
    cursor: pointer;
    margin-top: 10px !important;
    font-weight: bold;
    color: #9C9090;
    text-align: right;
}

.modal-body input[type=text]{
    border: none;
    outline: none;
    height: 49px;
    background-color: #D5EAF8;
}

.modal-content{
    background-color: transparent;
    border: 0;
}

.modal-body{
    padding: 40px 0;
    background-color: #FFFFFF !important;
    /* color: #FFFFFF; */
    border: 1;
    border-radius: 10px !important;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.modal-body h1{
    font-weight: bolder;
}

.modal-body img{
    margin-left: -35px;
}

#btn-recovery{
    height: 45px;
    background-color: #0E3854;
    color: #FFFFFF;
}

.login-button{
    background: #0E3854;
    font-size: 16px;
    width: 160px !important;
    height: 50px;
}
option{
    border: 0;
}
.hidden{
    display: none;
}
@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .navbar{
        background: transparent !important;
    }
    .nav-link{
        margin-left: 20px;
    }
    .card-title{
        font-size: 24px;
    }
    
    .card-text{
        font-size: 18px
    }
}

@media (min-width: 1200px) {

}